<div class="panel panel-default sidebar-nav">
  <div class="panel-heading">
    <%= t 'menu.main_menu' %>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <%= active_link_to t('menu.my_page'), :root, :class => 'list-group-item' %>
      <%= active_link_to t('menu.my_works'), works_path, :class => 'list-group-item' %>
      <%= active_link_to t('menu.my_stuff'), ideas_path, :class => 'list-group-item' %>
    </div>
  </div>
</div>
