<div class="panel panel-default">
  <div class="panel-heading">
    <%= t 'menu.my_page' %>
  </div>
  <div class="panel-body">
    <p>
      <%= t 'my_page.greetings' %>
    </p>
    <p>
      <%= t 'my_page.content' %>
    </p>
  </div>
</div>
