/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$activeColor: #ff7000;
$textColor: #333;

/* bootstrap overrides *
 * ******************* */

ul.list-group {
 list-style: none;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: $activeColor;
  border-color: $activeColor;
}

a,
a:link,
a:visited,
a:hover,
a:focus {
  color: $activeColor;
  background-color: transparent;
  
  .list-group-item-heading { color: $activeColor; }
  .list-group-item-text { color: $textColor; }
}

.navbar-default {
  background-color: #333;
  border: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: silver;
}

.input-group {
  margin-bottom: 5px;
}
.input-group-addon {
  min-width: 100px;
}

/* my overides *
 * *********** */

.list-group-item-buttons {
  position:absolute;
  right:10px;
  top:10%
}

/* my bootstrap additions *
 * ********************** */

html, body {
  margin: 25px 0;
}

#main {
  padding-top: 10px;
}

.form-control-from-label {
  font-weight: normal;
  color: gray;
}

.promo-image {
  width: 100%;
  height: 362px;
  background-image: url(image_path('promo-orange.png'));
  background-size: 1280px 362px;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  position: relative;
}

.promo-text {
  position: absolute;
  right: 100px;
  bottom: 30px;
  color: $activeColor;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
  background-color: black;
  padding: 10px;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: black 0px 0px 15px 6px
}

.copynone {
  color: silver;
  text-align: center;
}

/* flags sprite *
* ************ */

.flag {
  width: 16px;
  height: 11px;
  background:url(image_path('flags.png')) no-repeat;
  display: inline-block;
}
.flag.flag-en { background-position: -16px 0; }
.flag.flag-ru { background-position: 0 -11px; }

.flag-menu li a span {
  padding-left: 10px;
}
